.box1 {
    text-align: center;
    
  }
  /* .box1 p{
      font-size: 40px
  } */
  .name {
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    
    color:#B8AAF4
  }
  .role {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    margin-bottom: 10px;
    color:#6C59BC
  }
  .desc {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .box1 div {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 10px solid #3DB2BF;
  }
  
  .pro1 {
   
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  .topdiv {
    position: realtive;
    display: grid;
    grid-template-columns: auto auto auto;
   
    background-color: #0e6e84;
    height: 100vh;
  }
  .circles {
    border: 20px solid white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    top: 40%;
    left: 30%;
    position: relative;
  }
  .innercircle {
    color: #3bcec8;
    font-size: 40px;
    position: relative;
    top: 20%;
    left: 15%;
  }
  .box {
      
      min-height: 100px
  }
  