.box1 {
    text-align: center;
    /* max-width: 70%; */
    border: 1 px solid green;
    margin: auto
}
/* .box1 p{
      font-size: 40px
  } */
.name {
    font-size: 33px;
    font-family: unset;
    font-weight: Bold;
    color: #3C5E9B
}
.role {
    font-size: 19px;
    font-family: unset;
    font-weight: Semibold;
    margin-bottom: 5px;
    color: #707070;
}
.desc {
    font-size: 16px;
    padding: 30px;
    font-weight: 200;
    font-family: sans-serif;
    color: #707070
}
.box1 div {
    display: flex;
    justify-content: space-evenly;
    /* margin-bottom: 10px; */
    /* font-weight: bold; */
}
.image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 15px solid #BDDEEF;
    margin-top: 25px;
}
.pro {
    padding: 50px
}
.pro1 {
    font-size: 30px;
    font-family: "Open Sans";
    font-weight: bolder;
    margin-bottom: 50px;
    margin-top:-50px
}
.topdiv {
    /* position: realtive; */
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #0e6e84;
    /* height: 100vh;
    max-width: 70%;
    border: 1 px solid green;
    margin: auto; */
    padding:60px;
    margin-bottom:50px
}
.circles {
    border: 20px solid white;
border: 15px solid white;

    border-radius: 50%;
    height: 100px;
    width: 100px;
    /* top: 40%;
    left: 30%; */
    position: relative;
    margin:auto
}
.innercircle {
    color: #3bcec8;
    color: #FFC831;
    font-size: 40px;
font-size: 20px;

    position: relative;
    top: 20%;
    left: 15%;
top: 30%;
left: 20%;

}
.box {
    min-height: 100px
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0 0 0 1.25 !important;
}
.imgheight {
    height: 175px;
    border-radius: 15px !important;
}
svg {
    overflow: hidden;
    vertical-align: middle;
    margin: auto;
}
.table-column {
    display: none;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
}
.background {

border-left: 103vw solid #a4c0f4;

    border-bottom: 13vw solid white;
    position: absolute;
    z-index: -1;

}
.circledot {
    /* border:100px solid red; */
    height: 25px;
    width: 25px;
background-color: #a4c0f4;

    border-radius: 50%;
    margin-top: -11px;
    margin-left: 53vw;
}
.details span {

    color: #707070;
    font-family: unset;
    font-size: 21px;
    font-weight: 500;
    padding: 5px;
}
.details {
    padding: 18px;
    width: 75%;
    margin: auto;
    color: #FFC831
}
